@font-face {
  src: url("/fonts/Montserrat/Montserrat-Regular.otf");
  font-family: "Montserrar_Regular";
}
@font-face {
  src: url("/fonts/Merriweather/Merriweather Light.ttf");
  font-family: "Merriweather_Light";
}
@font-face {
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  font-family: "Roboto_Regular";
}
@font-face {
  src: url("/fonts/Roboto/Roboto-Light.ttf");
  font-family: "Roboto_Light";
}
@font-face {
  src: url("/fonts/Roboto/Roboto-Medium.ttf");
  font-family: "Roboto_Medium";
}
@font-face {
  src: url("/fonts/ProximaNova/Proxima Nova Bold.otf");
  font-family: "Proxima_Nova_Bold";
}
body,
html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  transition: all .3s linear;
  margin: 0;
  padding: 0;
}
.content {
  width: 1349px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.logo_cont {
  position: absolute;
  z-index: 10;
  margin-top: 30px;
}
.logo {
  color: #fff;
  font-family: Proxima_Nova_Bold;
  font-weight: bolder;
  text-decoration: none !important;
  font-size: 28px;
  margin-top: -10px;
  border-right: 1px solid #939393;
  padding-right: 20px;
}
.logo:hover {
  text-shadow: 0 0 10px #fff;
  color: #fff;
}
.logo_tel {
  color: #fff;
  font-family: "ProximaNova Bold";
  font-weight: bolder;
  text-decoration: none !important;
}
.logo_tel:hover {
  text-shadow: 0 0 10px #fff;
  color: #fff;
}
.text_carousel_position {
  margin-bottom: 150px;
  text-align: left;
}
.text_carousel_position a {
  background-color: #6fb048;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-family: Montserrar_Regular;
  font-size: 14px;
}
.text_carousel_position h3 {
  font-family: Roboto_Regular;
  font-size: 38px;
}
.text_carousel_position p {
  width: 400px;
  font-family: Roboto_Regular;
  font-size: 16px;
}
.header_line {
  margin-left: 50px;
  width: 1050px;
}
.btn_learn:hover {
  transform: scale(1.1);
  color: #fff;
}
.list_link {
  margin-left: 85px;
}
.list_link ul li {
  margin-left: 20px;
}
.list_link ul li a {
  color: #bec8c8;
  font-family: Montserrar_Regular;
  font-weight: bolder;
  text-decoration: none;
}
.list_link ul li a:hover {
  color: white;
  border-radius: 2px;
}
.text_align_center {
  text-align: center;
}
.text_align_center h3 {
  color: #0f5f5c;
  margin-top: 95px;
  font-family: Roboto_Light;
  font-weight: bold;
  font-size: 32px;
}
.text_align_center p {
  color: #83a7a5;
  font-family: Roboto_Regular;
  font-size: 15px;
}
.design {
  margin-top: 60px;
}
.design .title {
  color: #0f5f5c;
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-family: Roboto_Regular;
  font-size: 16px;
}
.design p {
  font-family: Roboto_Regular;
  font-size: 14px;
}
.title_bold {
  color: #0f5f5c;
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-family: Roboto_Regular;
}
.browser .title_bold {
  margin-left: 17px;
  font-family: Roboto_Regular;
  font-size: 16px;
}
.browser p {
  margin-top: 20px;
  width: 500px;
  color: #83a7a5;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.creative .title_bold {
  margin-left: 17px;
  font-family: Roboto_Regular;
  font-size: 16px;
}
.creative p {
  margin-top: 10px;
  color: #83a7a5;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.pixel_free_forever {
  margin-top: 60px;
}
.browser_creative {
  margin-top: 200px;
}
.grey_background {
  background-color: #eef1ec;
}
.background_telephone {
  background-image: url("/img/main_contant/telephone.jpg");
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 130px;
}
.background_telephone h3 {
  color: #0f5f5c;
  margin-top: 75px;
  font-family: Roboto_Light;
  font-weight: bold;
  font-size: 32px;
}
.background_telephone p {
  color: #83a7a5;
  font-family: Roboto_Regular;
  font-size: 15px;
}
.responsive_ready_text {
  width: 470px;
  text-align: left;
  margin-right: 150px;
  margin-top: 70px;
}
.responsive_ready_text h3 {
  font-family: Roboto_Light;
  font-size: 32px;
}
.responsive_ready_text p {
  color: #83a7a5;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.responsive_ready_text ul {
  margin-top: 20px;
  margin-bottom: 50px;
}
.responsive_ready_text ul li {
  list-style: none;
  background-image: url("/img/main_contant/list_style_circle.png");
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-bottom: 20px;
  color: #83a7a5;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.par_coment {
  margin-top: 200px;
}
.par_coment p {
  color: #83a7a5;
  line-height: 2;
  width: 500px;
  font-size: 15px;
  font-family: Merriweather_Light;
  font-size: 22px;
}
.par_coment .name_green {
  display: block;
  color: #6fb048;
  font-weight: bolder;
  margin-top: 20px;
  font-family: Roboto_Medium;
  font-size: 14px;
}
.par_coment .director_font {
  color: #83a7a5;
  font-size: 14px;
  font-family: Roboto_Regular;
}
.img_girl {
  margin-top: 130px;
  margin-left: 50px;
}
.background_map {
  background-image: url("/img/main_contant/map.jpg");
  width: 100%;
  margin-top: 100px;
}
.background_map .par_h3_map {
  margin-top: 140px;
}
.background_map .par_h3_map h3 {
  color: #0f5f5c;
  font-family: Roboto_Light;
  font-weight: bold;
  font-size: 32px;
}
.background_map .par_h3_map p {
  color: #83a7a5;
  margin-bottom: 150px;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.text_align_panel {
  margin-top: 40px;
  margin-left: 200px;
}
.panel_plan {
  padding: 0;
  width: 250px;
}
.text_align_c {
  text-align: center;
  padding-bottom: 40px;
}
.panel_price h4 {
  color: #6fb048;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 32px;
}
.panel_price .price {
  color: #0f5f5c;
  display: block;
  font-weight: bolder;
  font-size: 65px;
  font-family: Montserrar_Regular;
}
.panel_price ul {
  margin-top: 20px;
  list-style-type: none;
  margin-bottom: 40px;
}
.panel_price ul li {
  color: #83a7a5;
  padding-bottom: 10px;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.panel_price .month {
  color: #0f5f5c;
  position: absolute;
  margin-left: -20px;
  margin-top: -15px;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.panel_price .button_left_right {
  padding: 10px 20px 10px 20px;
  background-color: #83a7a5;
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrar_Regular;
  font-size: 14px;
}
.panel_price .button_left_right:hover {
  transform: scale(1.1);
}
.panel_price .button_center {
  padding: 10px 20px 10px 20px;
  background-color: #6fb048;
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrar_Regular;
  font-size: 14px;
}
.panel_price .button_center:hover {
  transform: scale(1.1);
}
.panel_left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.panel_center {
  border-radius: 0;
}
.text_al_cen {
  text-align: center;
}
.panel_right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.big_list_plans {
  margin-left: 50px;
}
.big_list_plans ul {
  margin-top: 40px;
}
.big_list_plans ul li {
  list-style: none;
  background-image: url("/img/main_contant/list_style_circle.png");
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-bottom: 20px;
  color: #83a7a5;
  text-align: left;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.need_help {
  color: #6fb048;
  font-family: Roboto_Light;
}
.need_help_paragraph {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.support_mail {
  color: #0f5f5c;
  font-weight: bolder;
  margin-top: 40px;
  font-family: Roboto_Regular;
}
.wapik_download_background {
  height: 200px;
  width: 100%;
  background-image: url("/img/main_contant/computer.jpg");
  margin-top: 90px;
}
.wapik_download_background {
  padding-top: 50px;
}
.wapik_download_background h3 {
  color: #0f5f5c;
  font-family: Roboto_Light;
  font-weight: bold;
  font-size: 28px;
}
.wapik_download_background p {
  color: #83a7a5;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.wapik_download_background a {
  text-transform: uppercase;
  padding: 5px 20px 5px 20px;
  background-color: #6fb048;
  color: #fff;
  font-weight: bolder;
  margin-top: 30px;
  margin-left: 130px;
  font-family: Montserrar_Regular;
  font-size: 13px;
}
.wapik_download_background a:hover {
  transform: scale(1.1);
  color: #fff;
}
.footer_logo {
  margin-top: 85px;
}
.footer_logo h3 {
  color: #0f5f5c;
  font-weight: bolder;
  font-family: Proxima_Nova_Bold;
  font-size: 22px;
}
.footer_logo a {
  text-decoration: none;
}
.footer_logo a:hover {
  text-shadow: 0 0 10px #83a7a5;
}
.footer_logo ul {
  list-style: none;
  color: #83a7a5;
}
.footer_logo ul li {
  padding-bottom: 10px;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.footer_logo ul li span {
  color: #0f5f5c;
  font-weight: 600;
  font-family: Roboto_Regular;
}
.footer_list {
  margin-top: 100px;
}
.footer_list h4 {
  color: #0f5f5c;
  font-family: Roboto_Medium;
}
.footer_list p {
  color: #83a7a5;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.footer_list ul {
  list-style: none;
}
.footer_list ul li {
  color: #83a7a5;
  font-family: Roboto_Regular;
  padding-bottom: 10px;
  font-size: 14px;
}
.footer_list ul li a {
  text-decoration: none;
  color: #83a7a5;
  font-weight: 300;
}
.footer_list input {
  background-color: #eef1ec;
  border: none;
  color: #83a7a5;
  font-family: Roboto_Regular;
}
.footer_list span {
  color: #6fb048;
}
.footer_end p {
  color: #83a7a5;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.footer_end a {
  padding-left: 5px;
  padding-bottom: 10px;
}
.footer_end a:hover {
  transform: scale(1.1);
}
.about_us {
  margin-top: 70px;
}
.about_us h3 {
  color: #0f5f5c;
  font-size: 32px;
  font-family: Roboto_Light;
}
.about_us p {
  color: #83a7a5;
  font-family: Roboto_Regular;
  font-size: 15px;
}
.about_us_next {
  margin-top: 110px;
}
.our_team {
  background-color: #eef1ec;
  width: 100%;
  height: 665px;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 130px;
}
.our_team p {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto_Regular;
  font-size: 15px;
}
.our_team span {
  display: block;
  text-align: left;
}
.our_team .team_people {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}
.our_team .team_people_name {
  margin-top: 15px;
  color: #0f5f5c;
  font-weight: bolder;
  font-family: Roboto_Medium;
  font-size: 15px;
}
.our_team .team_people_job_title {
  color: #83a7a5;
  font-family: Roboto_Regular;
  font-size: 14px;
}
.wapik_download_background_green {
  height: 200px;
  width: 1349px;
  background-image: url("/img/about_us_page/green_background.jpg");
  margin-left: auto;
  margin-right: auto;
}
.wapik_download_background_green .row {
  margin-top: 60px;
}
.wapik_download_background_green a {
  text-transform: uppercase;
  padding: 5px 20px 5px 20px;
  background-color: #49732f;
  color: #fff;
  font-weight: bolder;
  margin-top: 30px;
  margin-left: 130px;
  font-family: Montserrar_Regular;
  font-size: 13px;
}
.wapik_download_background_green a:hover {
  transform: scale(1.1);
  color: #fff;
}
.contact_header_menu {
  margin-top: 30px;
  margin-bottom: 30px;
}
.logo_telephone {
  color: #83a7a5;
  font-family: "ProximaNova Bold";
  font-weight: bolder;
  text-decoration: none !important;
}
.logo_telephone:hover {
  text-shadow: 0 0 10px #83a7a5;
  color: #83a7a5;
}
.logo_color_dark_blue {
  color: #0f5f5c;
  font-family: Proxima_Nova_Bold;
  font-weight: bolder;
  text-decoration: none !important;
  font-size: 28px;
  margin-top: -10px;
  border-right: 1px solid #939393;
  padding-right: 20px;
}
.logo_color_dark_blue:hover {
  text-shadow: 0 0 10px #0f5f5c;
}
.contact_list_link {
  margin-left: 85px;
}
.contact_list_link ul li {
  margin-left: 20px;
}
.contact_list_link ul li a {
  color: #bec8c8;
  font-family: Montserrar_Regular;
  font-weight: bolder;
  text-decoration: none;
}
.contact_list_link ul li a:hover {
  text-shadow: 0 0 10px  #bec8c8;
  color: #bec8c8;
  border-radius: 2px;
}
.iframe_container {
  padding: 0;
}
.get_in_contact {
  margin-top: 70px;
}
.get_in_contact h3 {
  color: #0f5f5c;
  font-size: 32px;
  font-family: Roboto_Light;
}
.get_in_contact p {
  color: #83a7a5;
  font-family: Roboto_Regular;
  font-size: 15px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
