@import "_vars";
@import "_fonts";
@import "style_comp/index_footer.less";
@import "style_comp/index_carusel.less";
@import "style_comp/index_main_content_list.less";
@import "style_comp/index_download_product.less";
@import "style_comp/index_list_include_plan.less";
@import "style_comp/index_phone_content.less";
@import "style_comp/index_content_girl.less";
@import "style_comp/index_map_content.less";
@import "style_comp/index_panel.less";
@import "style_comp/index_header.less";
@import "style_comp/about_us_content_about.less";
@import "style_comp/about_download_background.less";
@import "style_comp/about_us_our_team.less";
@import "style_comp/contact_header.less";
@import "style_comp/contact_content.less";
@import "style_comp/pricing_header.less";
@import "style_comp/pricing_content.less";
@import "style_comp/pricing_table.less";



body,
html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  transition: all .3s linear;
  margin: 0;
  padding: 0;
}
.content_center{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 1;
}
#back-to-top:hover {
    background: #e9ebec;
}

